<div class="block p-8  w-full list-lecture-management">
    <div class="container block filters">
        <form>
            <div class="flex flex-wrap sm:flex-nowrap justify-between py-2 items-center">
                <div>
                    <h2 class="text-xl font-medium text-[#505050]">HOD(Head of Department)</h2>
                </div>
            
          
                <div class="flex flex-wrap sm:flex-nowrap gap-2 items-center">
                    <!-- <div class="mt-2 md:mt-0 flex gap-2 items-center">
                        <h2>Subject :</h2>
                        <form>
                            <mat-form-field class="min-w-50">
                                <mat-select [formControl]="Subject">
                                    <mat-option value="0" (click)="Search()">All</mat-option>
                                    <mat-option [value]="subject.id" *ngFor="let subject of subjects"
                                        (click)="Search()">{{subject.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="filter_heading">
                        Search :
                    </div>
                    <div class="search-input">
                        <mat-icon class="">search</mat-icon>
                        <mat-form-field mat-no-float class="m-0" floatLabel="never">
                
                            <input matInput id="search" placeholder="Search" [formControl]="searchInput" class="">
                        </mat-form-field>
                    </div> -->
                    <button class="add-data" (click)="addLecture()"><mat-icon class="text-white cursor-pointer">add</mat-icon>
                        ADD</button>
                    <button (click)="BulkUpload($event)" class="p-2 cursor-pointer bg-[#28C397] text-white flex items-center gap-2">
                        <mat-icon class="text-white">add</mat-icon> Bulk Upload</button>
                      <input #fileUpload type="file" style="display: none" class="input_fileupload--hidden"
                        (change)="onFileSelected($event)" [(ngModel)]="inputFileName" [accept]="accept"
                        [ngModelOptions]="{standalone: true}">
                    
                      <div *ngFor="let f of files">
                        <span *ngIf="files">{{f.name}}</span>
                        <button mat-icon-button color="primary" [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
                          (click)="removeFile($event,f)">
                          <mat-icon class="text-black">close</mat-icon>
                        </button>
                      </div>
                      <button *ngIf="files.length>0" mat-raised-button id="add-student-button" (click)="OnBulkUpdateusers()"
                        aria-label="add qbank" [disabled]="isExcekinRigthformrt">
                        <mat-icon>add</mat-icon> Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="flex grid  grid-cols-1 sm:grid-cols-2 gap-6 pt-6">
        
        <div class="lecture_div" [dataSource]="dataSource.data" *ngFor="let user of dataSource.data,let i = index;"  [ngClass]="{'year-one': CourseYear === 'First Year','year-two': CourseYear === 'Second Year',
                'year-three': CourseYear === 'Third Year',
               'year-four': CourseYear === 'Fourth Year'}">
            <div class="flex grid grid-cols-6 first_div gap-5 relative lg:static">
                <img class="w-min rounded-full min-h-[70px] min-w-[70px] max-w-[70px]  max-h-[70px] object-cover" [src]="user.imageUrl || 'my-images/default-img.png'">
                <div class="lecture_details col-span-4 content-center">
                    <h2 class="text-lg text-[#3C3C3C]">{{user.firstName}} {{user.lastName}}</h2>
                    <div *ngIf="user.designation" class="flex gap-2 pt-1">
                        <mat-icon>work</mat-icon>
                        <p class="font-normal flex text-[#505050] pt-1">{{user.designation}}</p>
                    </div>
                    <!-- <div class="flex gap-2 pt-1">
                        <mat-icon>auto_stories</mat-icon>
                        <h3 class="font-normal flex text-[#505050] pt-1" *ngFor="let course of user.courses">{{course.courseYear}}</h3>
                    </div> -->
                    
                    <div *ngIf="user?.subjects[0]" class="flex gap-2 pt-1">
                        <mat-icon>menu_book</mat-icon>
                        <h3 class="font-normal flex text-[#505050] pt-1">{{user.subjects[0]?.name}}</h3>
                    </div>
                    <div *ngIf="user.qualification" class="flex gap-2 pt-1">
                        <mat-icon>school</mat-icon>
                        <h3 class="font-normal flex text-[#505050] pt-1">{{user.qualification}}</h3>
                    </div>
                    <p class="pt-3 text-[#505050] text-[12px] font-normal">{{user.description}}</p>
                    <div class="flex items-center gap-3 pt-4">
                        <h4 class="float-left flex font-normal">Employee No.{{user.rollNo}}</h4>
                        <button class="active_btn font-normal" [ngClass]="{ 'active': user.isActive, 'inactive': !user.isActive }"><mat-icon>circle</mat-icon>{{ user.isActive ? 'Active' : 'Inactive' }}</button>
                    </div>
                </div>
                <div class="flex col-span-1 justify-end lg:static absolute left-0 right-4 md:right-4 sm:right-4">
                    <mat-icon class="cursor-pointer text-[#505050]" (click)="editLecturer(user)">edit</mat-icon>
                    <mat-icon class="cursor-pointer text-[#505050]" (click)="deleteLecture(user)">delete</mat-icon>
                </div>
            </div>
            <div class="flex grid grid-cols-6 second_div"  [ngClass]="{'year-one': user.courses[0]?.courseYear === 'First Year','year-two': user.courses[0]?.courseYear === 'Second Year',
                'year-three': user.courses[0]?.courseYear === 'Third Year',
               'year-four': user.courses[0]?.courseYear === 'Fourth Year'}">
                <div></div>
                <div class="lecture_details col-span-5">
                  
                    <div class="flex grid grid-cols-2 stats-3 py-3">
                        <div class="text-[#A9A9A9] font-normal">Mobile No.<br><span class="text-[#505050]">{{user.phoneCountryCode}} {{user.phoneNumber}}</span></div>
                        <div class="text-[#A9A9A9] font-normal">Email<br><span class="text-[#505050]">{{user.email}}</span></div>
                    </div>
                    <!-- <a>
                        <button class="view_report_card text-white" (click)="onNavigate(user)">View More Bio</button>
                    </a> -->
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <p *ngIf="dataSource.data?.length<=0">No records found</p>

    <mat-paginator class="mt-8 flex justify-end" [length]="dataSource.paginationData? dataSource.paginationData.count:0" [pageSize]="paginator.pageSize" (page)="getNext($event)" [pageSizeOptions]="_sitePreference.PAGE.GridRowViewPageSizeOptions"></mat-paginator>
</div>