:host{
    display: block;
}
.main_box {
    background: white;
    box-shadow: 0px 0px 10px rgba(var(--fuse-primary-rgb), .3);
    margin: 0px 0 !important;
    // border-color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    border-radius: 4px;
}
.done{
    background: #28C397;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    min-width: 18px !important;
    height: 20px !important;
    width: 20px;
    min-height: 18px !important;
}
.header-examdetails{
    box-shadow: 0px 0px 15px #D8D8D8;
}
.start-exam{
    // background: transparent linear-gradient(172deg, #D388FF 0%, #712FBB 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(172deg, rgba(var(--fuse-primary-rgb), 0.5) 0%, rgba(var(--fuse-primary-rgb), .8) 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 767px) {
    .main_box{
        margin: 0 !important;
    }

}