<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall"
>
    
    <!-- Navigation footer hook -->
    <!-- <ng-container fuseVerticalNavigationContentFooter>
        <div
            class="mb-4 mt-2 flex h-16 flex-0 items-center justify-center pl-2 pr-6 opacity-12"
        >
            <img class="max-w-36" src="images/logo/logo-text-on-dark.svg" />
        </div>
    </ng-container> -->
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
    <div class="navigation_bar relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card print:hidden" >
        <div class="m-logo w-50 flex items-center gap-1 cursor-pointer" routerLink="/">
            <img class="main-logo dark:flex w-min h-full cursor-pointer" src="my-images/logo-carenext.png" alt="Logo image"  routerLink="/">
            <!-- <h2 class="text-white font-normal pl-2 text-xl">ADrPLEXUS</h2> -->
        </div>
        <button class="m-hamburger" mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        <!-- {{title}} -->
        <!-- Components -->
        <div class="m-admin flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <div class="mr-5">
                <!-- <mat-icon class="cursor-pointer mr-2 text-white" (click)="Bookmark.toggle();getBookmarkList()" *ngIf="userRole=='Student' && !ishidenavigation">bookmark_border</mat-icon> -->
                <!-- <mat-icon class="cursor-pointer" (click)="notification.toggle()" *ngIf="userRole=='Student'">notifications_none</mat-icon> -->
            </div>
            <div class="flex gap-3">
                <div>
                    <h2 class="text-end text-primary md:text-xl text-sm font-medium">{{_userAccount?.Name}}</h2>
                    <h3 class="text-end text-sm font-normal">{{_userAccount?.Roles}}</h3>
                </div>
                <div>
                    
            <img [src]="_userAccount?.image_url ? _userAccount?.image_url : 'my-images/default-img.png' " class="login_img">
                </div>
            </div>
            <user class="popup-signout"></user>
        </div>
    </div>
    <!-- Header -->
    

    <!-- Content -->
    <div class="mt-20 flex flex-auto flex-col">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        @if (true) {
            <router-outlet></router-outlet>
        }
    </div>

    <!-- Footer -->
    <div class="relative flex flex-0 items-center justify-center w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden  z-0">
        <span class="font-medium text-secondary">© {{currentYear}} ADrPlexus | All Rights Reserved.</span>
    </div>
</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->
 <style>
    fuse-vertical-navigation fuse-vertical-navigation-aside-item, fuse-vertical-navigation fuse-vertical-navigation-basic-item, fuse-vertical-navigation fuse-vertical-navigation-collapsable-item {
    margin-bottom: 0 !important;
}
fuse-vertical-navigation fuse-vertical-navigation-basic-item .fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item {
    justify-content: space-between !important;
}
fuse-vertical-navigation fuse-vertical-navigation-collapsable-item .fuse-vertical-navigation-item-children .fuse-vertical-navigation-item {
    padding-left: 30px !important;
}
    .popup-signout{
    position: absolute;
    right: 24px;
    }
    .login_img{
        max-width: 40px;
        max-height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    padding: 4px;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    }
    .fuse-vertical-navigation-item-title {
    color: #505050 !important;
    font-size: 14px;
}
.fuse-vertical-navigation-item{
    min-height: 60px;
}
.fuse-vertical-navigation-item-active .fuse-vertical-navigation-item-title {
    color: #505050 !important;
    font-size: 14px;
    color: rgba(var(--fuse-primary-rgb), 1) !important;
    font-weight: 600;
}
.fuse-vertical-navigation-item {
    border-radius: 0 !important;    
    border-left: 5px solid white !important;
    min-height: 50px !important;
}
.fuse-vertical-navigation-item-wrapper {
    margin: 0 !important;
}
.fuse-vertical-navigation-item-active {
    /* background: rgba(var(--fuse-primary-rgb),.1) !important; */
        background:#fff !important;
    /* border-left: 5px solid rgba(var(--fuse-primary-rgb), 1) !important; */
}


fuse-vertical-navigation-basic-item, fuse-vertical-navigation-collapsable-item {
    border-bottom: 2px solid rgba(var(--fuse-primary-rgb), .2);
}
fuse-vertical-navigation-collapsable-item fuse-vertical-navigation-basic-item {
    border: none;
}
.fuse-vertical-navigation-item-expanded{
    background: rgba(var(--fuse-primary-rgb), .1);
}
.fuse-vertical-navigation-item-expanded .fuse-vertical-navigation-item{
    border-color: transparent !important;
}
    .navigation_bar {
    height: 80px !important;
    box-shadow: 0 3px 6px #00000029 !important;
    font-size: 16px;
    font-weight: 600;
    color: #505050;
    background: white;
    position: fixed !important;
    top: 0;
    width: 100% !important;
    left: 0;
    z-index: 200 !important;
}
.fuse-vertical-navigation-item-expanded {
    background: rgba(var(--fuse-primary-rgb), .1);
    border-left: 5px solid rgba(var(--fuse-primary-rgb), 1);
}
.main-logo {
    max-width: 3.5rem;
}
.fuse-vertical-navigation-content {
    padding-top: 80px !important;
    background: white;
   box-shadow: 0px 0px 15px #D8D8D8;
   box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
}
    
@media only screen and (max-width: 767px) {
    .main-logo{
        max-width: 150px;
    }
    .popup-signout {
        right: 11px;
    top: 13px;
    }
    .m-hamburger {
    order: 1;
}
.m-logo {
    order: 2;
}
.m-admin {
    order: 3;
    position: relative;
}
.m-admin .popup-signout {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.m-admin .flex.gap-3 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
}
.m-admin .popup-signout button {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    min-width: 100%;
}
.m-admin .flex.gap-3 *{
    text-align: center !important;
}
.m-admin .flex.gap-3 h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80px;
    margin: 0 auto !important;
}
.m-admin .flex.gap-3 h3 {
    margin: -4px 0 0 0;
}
 button.m-hamburger {
    margin: 0 0 0 -10px;
}
}
 </style>
