<form [formGroup]="AdrPlexusQBankFilter">
    <div class="adrplexus-filters pb-4">
  
      <mat-form-field appearance="fill" class="w-60 pl-6">
        <mat-select matInput matNativeControl required placeholder="Select QBankType" formControlName="QbankType">
          <!-- <mat-option disabledv value=''>Select any</mat-option> -->
          <mat-option *ngFor="let banktype of qbanktype" [value]="banktype.id" (click)="getQbanksubject(banktype.id)"
          >{{banktype.title}} ({{banktype.noOfQuestions}})</mat-option>
        </mat-select>
  
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-60 pl-6">
        <mat-select matInput matNativeControl  placeholder="Select Subject" formControlName="Subject">
          <!-- <mat-option disabledv value=''>Select any</mat-option> -->
          <mat-option *ngFor="let subject of subjects" [value]="subject.id"
                    (click)="selectSubject(subject.id)">{{subject.title}} ({{subject.noOfQuestions}})</mat-option>
        </mat-select>
  
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-60 pl-6">
          <mat-select matInput matNativeControl  placeholder="Select Topic" formControlName="Topic">
            <!-- <mat-option disabledv value=''>Select any</mat-option> -->
            <mat-option *ngFor="let topic of topics" [value]="topic.id" (click)="selectTopic(topic.id)">{{topic.title}} ({{topic.noOfQuestions}})</mat-option>
          </mat-select>
          
        </mat-form-field>
      <mat-form-field appearance="fill" class="w-60 pl-6">
        <mat-select matInput matNativeControl placeholder="Select CBME Code" formControlName="CBMECode">
          <!-- <mat-option disabledv value=''>Select any</mat-option> -->
          <mat-option *ngFor="let cbme of cbmecode" [value]="cbme.id">{{cbme.title}} ({{cbme.noOfQuestions}})</mat-option>
        </mat-select>
  
      </mat-form-field>
      <div class="flex justify-between px-6 pt-2">
        <button mat-button class="text-sm text-primary" (click)="clearall()">Clear All</button>
        <button mat-raised-button class="bg-primary text-sm font-light search-filter text-white rounded" (click)="sendQbankFilterValues()">Show Questions</button>
      </div>
  
    </div>
  </form>