::ng-deep .dark .adrplexus-filters .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    border-color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    background-color: white !important;
}

::ng-deep .mat-select-value {
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
}

.adrplexus-filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: rgba(var(--fuse-primary-rgb), 0.1) !important;
    border-left: 5px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
}
.adrplexus-filters .search-filter{
    min-width: 110px;
    min-height: 40px;
}
::ng-deep .adrplexus-filters mat-form-field.mat-mdc-form-field {
    width: 100% !important;
    padding: 0px 18px !important;
}
::ng-deep .adrplexus-filters span.mat-mdc-select-min-line {
    color: #505050 !important;
    font-weight: 500;
}
::ng-deep .adrplexus-filters .mat-mdc-select .mat-mdc-select-placeholder {
    color: #A9A9A9 !important;
    font-weight: 400;
}
::ng-deep .adrplexus-filters .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper:is(.dark *) {
    background: white !important;
    border: 1px solid rgba(var(--fuse-primary-rgb), .3) !important;
}
::ng-deep .adrplexus-filters .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper:is(.dark *) .mat-mdc-form-field-infix{
    min-height: 40px;
}
.adrplexus-filters mat-select {
    color: #505050 !important;
}