<div class="px-6 py-8 w-full">
    <div class="flex items-center heading">
        <mat-icon class="cursor-pointer text-primary" (click)="backClicked()">arrow_back</mat-icon>
        <h2 class="ml-2 text-lg text-primary cursor-pointer" (click)="backClicked()">Back to List</h2>
    </div>
    <div class="report_card_div mt-6">
        <div class="student_div">
            <div class="flex grid grid-cols-6 first_div   relative lg:static">
                <img class="w-32 md:w-36 lg:mx-auto rounded-full fisrt_div_img" [src]="lecturer?.imageUrl || 'images/avatars/download.png'">
                <div class="flex flex-col grid-cols-6 col-span-5">
                    <div class="grid lg:grid-cols-6 students_details">
                        <div class="col-span-5">
                            <h2 class="text-lg text-[#3C3C3C]">{{lecturer?.firstName}} {{lecturer?.lastName}}</h2>
                            <div *ngIf="lecturer?.designation" class="flex gap-2 pt-2">
                                <mat-icon>work</mat-icon>
                                <p class="font-normal flex text-[#505050] pt-1">{{lecturer.designation}}</p>
                            </div>
                            <div class="flex gap-2 pt-2">
                                <mat-icon>auto_stories</mat-icon>
                                <h3 class="font-normal text-[#505050] text-[14px] py-0"  *ngFor="let course of lecturer?.courses">{{course.courseYear}}</h3>
                            </div>
                            
                            <div *ngIf="lecturer?.subjects[0]" class="flex gap-2 pt-2">
                                <mat-icon>menu_book</mat-icon>
                                <h3 class="font-normal text-[#505050] text-[14px] py-0">{{lecturer?.subjects[0]?.name}}</h3>
                            </div>
                            <div *ngIf="lecturer?.qualification" class="flex gap-2 pt-2">
                                <mat-icon>school</mat-icon>
                                <h3 class="font-normal text-[#505050] text-[14px] py-0">{{lecturer?.qualification}}</h3>
                            </div>
                            <h4 class="font-normal  text-[#505050]  text-[14px]" *ngFor="let qbank of lecturer?.qBankTypes">{{qbank.title}}</h4>

                            <p class="py-3 font-normal text-[#505050]  text-[12px]">{{lecturer?.description}}</p>
                            <div class="flex items-center gap-3  pt-2.5 pb-2.5">
                                <h4 class="float-left flex font-normal text-[#505050]">Employee No. {{lecturer?.rollNo}}</h4>
                                <!-- <button class="active_btn"><mat-icon>circle</mat-icon>Active</button> -->
                                <button class="active_btn" [ngClass]="{ 'active': lecturer?.isActive, 'inactive': !lecturer?.isActive }"><mat-icon>circle</mat-icon>{{ lecturer?.isActive ? 'Active' : 'Inactive' }}</button>
                            </div>
                        </div>

                        <div class="flex justify-end col-span-1 lg:static absolute top-5 right-2.5 md:right-2.4 sm:right-2.4">
                            <div class="flex edit_btn cursor-pointer" (click)="editLecturer()">
                                <mat-icon>edit</mat-icon>
                                Edit Profile
                            </div>
                            <mat-icon (click)="deleteLecture()" class="mt-[5px] cursor-pointer text-[#505050]">delete</mat-icon>
                        </div>
                    </div>
                    <div class="pt-4">
                        <div class="col-span-5">
                            <div class="flex grid grid-cols-2 md:grid-cols-3 stats-2 py-3">
                                <div>Mobile No.<br><span>{{lecturer?.phoneCountryCode}} {{lecturer?.phoneNumber}}</span></div>
                                <div>Email<br><span>{{lecturer?.email}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second_div">
                <h3 class="font-semibold text-[16px] text-[#3C3C3C]">Own Question Created</h3>
                <div class="flex justify-center">
                    <div class="w-full max-w-4xl">
                <h6 class="flex gap-10 text-[16px] pl-10 pt-10 font-medium text-[#505050]"><p>Subjects</p> <p>Numbers of questions</p></h6>
                <div id="linearchart">
                    <apx-chart [series]="linearChartOptions.series" [chart]="linearChartOptions.chart"
                        [dataLabels]="linearChartOptions.dataLabels" [plotOptions]="linearChartOptions.plotOptions"
                        [xaxis]="linearChartOptions.xaxis"></apx-chart>
                </div>
                </div>
                </div>
            </div>
            <div class="third_div  overflow-x-scroll">
                <h3 class="mb-2 text-[#3C3C3C]" *ngIf="dataSource.length > 0">Exam's Contact (09)</h3>
                <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="mat-elevation-z8 w-full shadow-none">

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element" class="text-[#3C3C3C] font-medium"> {{element.createdOn | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>
                  
                    <!-- Exam Name Column -->
                    <ng-container matColumnDef="examname">
                      <th mat-header-cell *matHeaderCellDef> Exam Name </th>
                      <td mat-cell *matCellDef="let element" class="text-[#0C529A] font-medium"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Subject Column -->
                    <ng-container matColumnDef="subject">
                      <th mat-header-cell *matHeaderCellDef> Subject </th>
                      <td mat-cell *matCellDef="let element" class="text-[#3C3C3C] font-medium"> {{element.subject}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Year">
                      <th mat-header-cell *matHeaderCellDef> Year </th>
                      <td mat-cell *matCellDef="let element" class="text-[#3C3C3C] font-medium"> {{element.courseYear}} </td>
                    </ng-container>
                    <!-- Avg.Score Column -->
                    <ng-container matColumnDef="Attendees">
                        <th mat-header-cell *matHeaderCellDef> Attendees </th>
                        <td mat-cell *matCellDef="let element" class="text-[#3C3C3C] font-medium"> {{element.noOfStudentAttended}} </td>
                      </ng-container>
                    <!-- Avg.Score Column -->
                    <ng-container matColumnDef="avgscore">
                        <th mat-header-cell *matHeaderCellDef> Avg.Score </th>
                        <td mat-cell *matCellDef="let element" class="text-[#3C3C3C] font-medium"> {{element.averageScore}} </td>
                      </ng-container>

                    <!-- Result Column -->
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div *ngIf="element.examStatus==1" class="Upcoming font-medium">Upcoming</div> 
                            <div *ngIf="element.examStatus==3" class="Completed font-medium">Completed</div> 
                            <div *ngIf="element.examStatus==4" class="Cancelled font-medium">Cancelled</div> 
                            <!-- <div class="result-pass">{{element.result}}</div>  -->
                        </td>
                      </ng-container>  
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
            
        </div>
    </div>
</div>