<div>
    <div class="qbank-header">
      <!-- <mat-form-field class="w-[200px]">
        <mat-select [(value)]="subjectId" placeholder="Select Subject" (selectionChange)="getsubjectAndQbank($event.value)">
          <mat-option *ngFor="let subject of subjectDetail" [value]="subject.subjectId">
            {{ subject.subjectName }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div class="flex items-center justify-center mt-30" *ngIf="!dataLoaded">
      <img src="my-images/imgLoder.gif" class="w-15">
  </div>
    <div class="py-8 px-6 w-full student-list" *ngIf="dataLoaded">
      <div class="grid grid-cols-6">
        <div class="md:col-span-5 col-span-6 overflow-scroll">
          <div class="filters flex gap-2 pb-3">
            <mat-chip class="cursor-pointer" [class.active]="examStatus === 3" (click)="FilterbyExamStatus(3)">Completed</mat-chip>
            <mat-chip class="cursor-pointer" [class.active]="examStatus === 5" (click)="FilterbyExamStatus(5)">Unattempt</mat-chip>
            <mat-chip class="cursor-pointer" [class.active]="examStatus === 2" (click)="FilterbyExamStatus(2)">Paused</mat-chip>
            <mat-chip class="cursor-pointer" [class.active]="examStatus === 1" (click)="FilterbyExamStatus(1)">New</mat-chip>
          </div>
        </div>
      </div>
  
      <!-- <div *ngFor="let exams of QbankExamData"> -->
        <!-- <h3 class="py-4">{{exams.name}}</h3> -->
        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4">
          
          <div class="games cursor-pointer" *ngFor="let exam of QbankExamData" (click) = "NavigatetoExam(exam)" [ngClass]="{'new-badge': exam.examStatus==1}">
  
            <div class="flex justify-between">
              <h4 class="font-medium" [innerHTML]="exam.name"></h4>
              <mat-icon class="bg-[#28C397] text-white text-xl rounded-full font-medium" *ngIf="exam.examStatus==3">done</mat-icon>
              <mat-icon class=" text-[#db1627] text-3xl rounded-full font-medium" *ngIf="exam.examStatus==2">pause_circle_filled</mat-icon>
            </div>
            <div class="items-center pt-4">
              <h6 class="font-light text-sm"><b>Exam Start Date</b> :  MCQ's</h6>
              <h6 class="font-light text-sm"><b>Exam End Date</b> :  MCQ's</h6>
            </div>
            <div class="flex items-center pt-4">
              <h6 class="font-light text-sm">{{exam.noOfQuestionsAttempted}}/{{exam.noOfQuestions}} MCQ's</h6>
            </div>
            <mat-progress-bar class="my-2" mode="determinate" [ngClass]="{'stop': exam.examStatus==2}" [value]="exam.noOfQuestionsAttempted/exam.noOfQuestions*100"></mat-progress-bar>
            <div class="flex justify-end grid grid-cols-3">
              <div class="font-light text-sm examid col-span-2">QBANK ID: {{exam.guid}}</div>
              <div class="font-light text-sm text-right" *ngIf="exam.examStatus==3 ">Performance</div>
            </div>
            <div class="flex justify-end grid grid-cols-2 pt-2 pb-2" *ngIf="exam.examStatus==3 ">
              <div class="font-light text-sm">{{exam.examStatus==2?'Paused :':exam.examStatus==3 ?'Completed :':''}} {{ exam.examStatus == 3 ? (exam.completedOn | date: 'dd MMM, yyyy, hh:mma') : (exam.examStatus == 2 ? (exam.updatedOn | date: 'dd MMM, yyyy, hh:mma') : '') }}</div>
              <div class="font-light text-sm text-right score_percentage" *ngIf="exam.percentage!=0 && exam.percentage !== null">
                {{exam.marks | number: '1.2-2'}}% Average</div>
            </div>
          </div>
        </div>
      <!-- </div> -->
      <h1 *ngIf="QbankExamData.length==0">No Exam Found</h1>
    </div>
  </div>
  