:host{
    display: block;
}
::ng-deep .year-list .mdc-tab.mat-mdc-tab.mat-mdc-focus-indicator {
    max-width: 110px;
    padding: 0 !important;
}
::ng-deep .year-list.mat-mdc-tab-group .mat-mdc-tab-header .mat-mdc-tab-label-container{
    margin: 0 !important;
}
::ng-deep .year-list.mat-mdc-tab-group .mat-mdc-tab-body-content{
    padding: 24px 0 !important;
}
button#add-student-button {
    display: flex;
    background: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    padding: 7px 10px;
    color: white;
    gap: 5px;
    align-items: center;
}
::ng-deep .year-list td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Name.mat-column-Name {
    max-width: 100px;
}
::ng-deep .batch_list th.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-Select.mat-column-Select,
::ng-deep .batch_list th.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-Promote.mat-column-Promote {
    max-width: 100px;
    text-align: center;
}
::ng-deep .batch_list td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Select.mat-column-Select,
::ng-deep .batch_list td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Promote.mat-column-Promote {
    max-width: 100px;
    text-align: center;
}
::ng-deep .team-field .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
    display: none;
}

.mat-paginator {
    display: flex;
    justify-content: flex-start !important;
  }
  .mat-paginator-navigation-previous,
.mat-paginator-navigation-next {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 12px;
  background-color: white;
  color: black;
  font-weight: bold;
}
.pagination-controls {
    button {
        margin: 0 10px; // Adjust spacing between buttons
    }
}

.mat-paginator-navigation-previous:hover,
.mat-paginator-navigation-next:hover {
  background-color: #f0f0f0;
}
.mat-paginator-range-label {
    display: none;
  }



  .modal-container {
    padding: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  .close-button{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
  }