::ng-deep .create-batch {
    margin: 0 auto;
    padding: 4px 0;
    border: 1px solid;
    color: #878787;
    border-radius: 5px;
    width: 84%;
    justify-content: center;
    margin-bottom: 20px;
}
::ng-deep .create-batchs .mat-mdc-dialog-container{
    width: 700px;
    max-height: 80vh;
}
.batch-year-label {
    min-width: 110px;
    padding-top: 16px;
}
.createbatch-btn {
    background-color: #28C397 !important;
    color: white !important;
    border-radius: 5px !important;
}
.cancel-btn {
    border-radius: 5px !important;
}