<div class="block p-8 Waiting_for_Approval w-full">
    <h1>Waiting for Approval ({{dataSource?.paginationData?.count > 0 ? dataSource?.paginationData?.count : 0}})</h1>
    <form class="form">
        
        <p class="pt-4" *ngIf="dataSource.ExamList?.length <= 0">No records found</p>
        <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 block pt-4 flex gap-6">
            <div class="grid_1" [dataSource]="dataSource.ExamList" *ngFor="let exam of dataSource.ExamList,let i = index;">
                <div class="flex">
                    <div class="w-2/4 text-lg">{{exam.name}}</div>
                    <div class="w-2/4 text-right cursor-pointer">
                        <mat-icon (click)="editExam(exam.id)" class="text-[#505050]">edit</mat-icon>
                        <mat-icon (click)="deleteExam(exam.id)" class="text-[#505050]">delete</mat-icon>
                    </div>
                </div>
                <p class="exam-description" [innerHtml]="exam.description"></p>
                <div class="flex numbers_div">
                    <div class="w-4/12 text-primary">{{exam.noOfStudents}}<br><span>Students</span></div>
                    <div class="w-4/12 text-primary">{{exam.noOfQuestions}}<br><span>Questions</span></div>
                    <div class="w-4/12 text-primary">{{exam.examDuration | duration}}<br><span>Hours</span></div>
                </div>
                <h2 class="pt-1 truncate">Year : {{exam.courseYears}}</h2>
                <h2 class="pt-1 truncate">Subject : {{exam.topics}}</h2>
                <h2 class="pt-1">Exam Create by : {{exam.createdBy}}</h2>
                <h2 class="pt-1" *ngIf="exam.qbankCategory != 2">Questions : {{exam.qbankCategory}} Question</h2>
                <h2 class="flex gap-1 pt-1" *ngIf="exam.qbankCategory == 2">Questions : <span class="premium_ques">Premium Question
                    <mat-icon class="text-[#E2AD00] text-base">star</mat-icon></span></h2>
                <h2 class="pt-1">Exam Date : {{exam.examDate | date: 'dd/MM/yyyy, h:mm a'}}</h2>
                <div class="pt-6 flex justify-around gap-4">
                    <a mat-button class="start_exam" (click)="approveExam(exam.id)">Approve</a>
                    <a mat-button class="cancel_btn" (click)="cancelExam(exam.id)">Cancel</a>
                </div>
            </div>
        </div>
    </form>
    <mat-paginator class="mt-8 flex justify-end" [length]="dataSource.paginationData? dataSource.paginationData.count:0" [pageSize]="_sitePreference.PAGE.GridRowViewCount" (page)="getNext($event)" [pageSizeOptions]="_sitePreference.PAGE.GridRowViewPageSizeOptions"></mat-paginator>

</div>