<div class="dialog-content-wrapper min-w-[500px] add-integration">
    <mat-toolbar matDialogTitle class="bg-primary m-0 p-0 flex-row">
        <mat-toolbar-row class="flex justify-between">
            <span class="text-[20px] font-semibold text-white">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon class="text-white">close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-4 m-0">

        <form class="event-form w-100-p" [formGroup]="criteriaForm" fxLayout="column" fxFlex>

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                <mat-label>Description</mat-label>
                <mat-form-field class="mb-0 block" fxFlex>
                    <input matInput name="Description" required formControlName="Description"  placeholder="Title">
                </mat-form-field>

            </div>


            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                <mat-label>QueueID</mat-label>
                <mat-form-field class="mb-0 block" fxFlex>
                    <input type="number" matInput name="QueueID" required formControlName="QueueID"  placeholder="QueueID">
                </mat-form-field>
                <!-- <mat-label>Subject</mat-label>
                <mat-select matInput matNativeControl class="subjects" formControlName="Subject" required>
                    <mat-option disabled value="">Select any</mat-option>
                    <mat-option *ngFor="let c of subjects" [value]="c.id">{{c.subjectName}}</mat-option>
                </mat-select> -->

            </div>

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                <mat-label>Marks</mat-label>
                <mat-form-field class="mb-0 block" fxFlex>
                    <input type="number" matInput name="Marks" required formControlName="Marks"  placeholder="Marks">
                </mat-form-field>

            </div>

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                <mat-slide-toggle class="my-4" formControlName="IsCritical">
                    Is Critical
                </mat-slide-toggle>

            </div>
            

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-6 justify-between" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'" mat-raised-button (click)="addCriteria()" class="w-16 py-3 rounded-lg bg-primary text-white mat-accent-bg" [disabled]="criteriaForm.invalid"
            aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'" mat-raised-button (click)="updateCriteria()" class="w-16 py-3 rounded-lg bg-primary text-white mat-accent-bg" [disabled]="criteriaForm.invalid"
            aria-label="SAVE">
            SAVE
        </button>

        <!-- <button *ngIf="action ==='edit'" mat-icon-button (click)="deleteRubric()" aria-label="Delete" matTooltip="Delete">
            <mat-icon class="text-black">delete</mat-icon>
        </button> -->

    </div>
</div>