.choices {
    border: 1px solid #DCDCDC;
    box-shadow: 0px 0px 8px #D8D8D880;
    border-radius: 4px;
}

.wrong-choice {
    border: 1px solid #EA4435 !important;
    background: #FFF8F8 !important;
    color: #EA4435;
}

::ng-deep .mat-slide-toggle-thumb {
    border: 1px solid #dcdcdc;
}

::ng-deep body.light .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    border: 0;
}
// .QbankReview-btn{
//     position: fixed;
//     z-index: 999;
//     margin: 0 auto;
//     bottom: 50px;
//     background: white !important;
//     border: 2px dashed #c1c1c1;
//     padding: 5px !important;
//     width: 400px;
//     left: 0;
//     right: 0;
//     gap: 15px;
// }
.reviw-button-container {
    position: fixed;
    bottom: 100px;
    left: 0;
    width: fit-content;
    padding: 10px 0;
    z-index: 999;
    right: 0;
    margin: 0 auto;
}
.submit-btns{
    background: white !important;
    border: 2px dashed #c1c1c1;
    padding: 10px !important;
}
.wrong-choice span {
    background: #EA4435;
    color: white;
    font-weight: 300;
}

.correct-choice {
    border: 1px solid #28C397 !important;
    background: #F8FFFA !important;
}

.mulichoiesWrng {
    color: #EA4435!important;
    margin-right: 127px;
    position: absolute;
    right: 18px !important;
    size: 43px;
    font-size: 29px;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(var(--fuse-primary-rgb), .3) !important;
}

::ng-deep .question p img {
    width: auto;
}

.correct-choice span {
    color: white;
    background: #28C397;
    font-weight: 300;
}

.correct-choice h2 {
    color: #28C397;
}

::ng-deep mat-chip-list[aria-label="Tags"] mat-chip.mat-chip {
    border: 1px solid;
    border-color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
}

::ng-deep mat-dialog-container {
    width: 530px;
    padding: 0px;
}

::ng-deep .popup-1 mat-dialog-container.mat-dialog-container {
    padding: 0px;
}

::ng-deep .explanation td {
    border: 1px solid;
    padding: 10px 10px;
}

.correct-ans {
    color: #28C397;
    background-color: #EBFFF9;
    border-color: #28C397;
}

.missed-ans {
    color: #F9BC15;
    background-color: #FFF7E2;
    border-color: #F9BC15;
}

.unattemp-ans {
    color: #6E6E6E !important;
    background-color: white !important;
    border-color: #6E6E6E !important;
}

.incorrect-ans {
    color: #EA4435;
    background-color: #FFE2E0;
    border-color: #EA4435;
}

::ng-deep .session_expire .mat-button-wrapper {
    flex-direction: column;
}

::ng-deep .popup-1 {
    right: 10px;
    top: 80px;
    position: absolute !important;
    width: 530px;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .9 !important;
}
.live-question-review {
    padding: 20px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
::ng-deep .explanation img {
    width: auto !important;
}
::ng-deep .explanation td {
    border: 1px solid;
    padding: 10px;
}
::ng-deep .explanation ol,
::ng-deep .explanation ul,
::ng-deep .explanation menu {
    list-style: inherit !important;
    padding: 0 20px;
}
.question-status {
    min-width: 10px;
    min-height: 10px;
    background: #c1c1c1;
    border-radius: 20px;
}
.question-status.question-wrong {
    background: #EA4435;
}
.question-status.question-notVisited {
    background: #444242 !important;
}
.question-status.question-correct {
    background: #28C397;
}
:host ::ng-deep .game-review app-game-header {
    position: absolute;
    width: 99.96%;
    background: white;
    z-index: 99999999999;
    top: 0;
}
.write-review-btn{
    background: transparent linear-gradient(175deg, #28C397 0%, #139FA3 100%) 0% 0% no-repeat padding-box;
    color: white !important;
    border-radius: 4px !important;
    padding: 0 35px !important;
}
::ng-deep button.mat-focus-indicator.write-review-btn[disabled=true]{
    background: #bcbcbc !important;
}
::ng-deep button.mat-focus-indicator.write-review-btn[disabled="true"] span {
    color: white !important;
}
.mt-82 {
    margin-top: 82px;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: #fff !important;
}
.reportQuestion{
    background: transparent linear-gradient(175deg, #be28c3 0%, #eb28da 100%) 0% 0% no-repeat padding-box;
}
::ng-deep .explanation-toggle .mdc-switch {
    background: transparent !important;
    border: 3px solid #bbafaf !important;
    width: 45px !important;
    height: 25px !important;
    border-radius: 28px !important;
}
::ng-deep .explanation-toggle .mdc-switch__handle {
    height: 13px !important;
    width: 13px !important;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
    margin: 0 0 0 3px !important;
}
::ng-deep .explanation-toggle .mdc-switch__icons {
    display: none;
}
@media only screen and (max-width: 767px){
    .game-review-header{
        margin-top: 114px !important;
    }
    .choices{
        padding-right: 40px !important;
    }
    ::ng-deep .explanation {
        word-wrap: break-word;
    }
}