<div class="block p-8 create_account w-full" *ngIf="!isFormSubmitted">
    <div>
        <div class="text-primary text-xl font-medium">Exams<span class="text-[#505050]"> / Create Exam</span></div>
    </div>

    <mat-stepper #stepper [linear]="isLinear">
        <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number">
            <mat-icon>done</mat-icon>
        </ng-template>

        <mat-step [stepControl]="CreateExamQbank">
            <form [formGroup]="CreateExamQbank" class="form create-exam-first-step">
                <ng-template matStepLabel>Select Q'Bank</ng-template>

                <div class="container block pt-4">
                    <mat-form-field class="form-element block mw-100">
                        <mat-label>Exam Name</mat-label>
                        <input matInput placeholder="Exam Name" #first formControlName="ExamName" required>
                    </mat-form-field>
                    <control-messages [control]="CreateExamQbank.controls.ExamName" fieldName="ExamName" [showSubmitError]="isQbankformHaserror"></control-messages>

                    <!-- <mat-form-field class="form-element block mw-100">
                        <mat-label>Description of Exam</mat-label>
                        <textarea matInput placeholder="Description of Exam" formControlName="ExamDescription"
                            required></textarea>

                    </mat-form-field> -->
                    <!-- <h2>Description of Exam</h2> -->
                    <div class="">
                        <mat-label class="font-semibold">Description of Exam</mat-label>
                        <!-- <ckeditor placeholder="Title" formControlName="ExamDescription">
                        </ckeditor> -->
                        <div class="mt-2">
                            <ckeditor [config]="ckeConfig" placeholder="Description"  formControlName="ExamDescription"></ckeditor>
                        </div>
                        
                        <!-- <mat-form-field class="form-element block mw-100">
                            <mat-label>Description of Exam</mat-label>
                            <input matInput placeholder="Description" #first formControlName="ExamDescription" required>
                        </mat-form-field> -->
                    </div>

                    <control-messages [control]="CreateExamQbank.controls.ExamDescription" fieldName="Description" [showSubmitError]="isQbankformHaserror"></control-messages>
                </div>

                <div class="mt-4">
                </div>
                <div class="linestep">
                    <div class="flex items-center sm-block stepper_div">
                        <div class="md:px-8 sm:px-0 sm-pt-2 min-w-212 text-[#3C3C3C]">
                            <label>Q'Bank</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">

                            <mat-select formControlName="QbankCategory" placeholder="select Qbnak">
                                <!-- <mat-label>Select Qbank</mat-label> -->
                                <mat-option disabled value=''>Select Qbank Category</mat-option>
                                <!-- <mat-option *ngFor="let qbankcategory of QbankCategory" (click)="getQbank(qbankcategory.name)" [value]="qbankcategory.id">{{qbankcategory.name}}</mat-option> -->
                                <mat-option (click)="getQbank('Free')" [value]="1">CARE NExT Qbank</mat-option>
                                <mat-option (click)="getQbank('Owned')" [value]="3">Faculty-Framed MCQs (FFQs)</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <control-messages class="exam-error" [control]="CreateExamQbank.controls.QbankCategory" fieldName="QbankCategory" [showSubmitError]="isQbankformHaserror"></control-messages>

                    <div class="flex items-center sm-block stepper_div">
                        <div class="md:px-8 sm:px-0 min-w-212">
                            <label>Studies</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <!-- <input matInput placeholder="Studies" formControlName="Studies"> -->
                            <mat-select formControlName="Studies" placeholder="select Studies">
                                <!-- <mat-label>Select Qbank</mat-label> -->
                                <mat-option disabled value=''>Select Studies</mat-option>
                                <mat-option *ngFor="let qbanktype of qbanktype" [value]="qbanktype.id" (click)="getQbanksubject(qbanktype.id)">{{qbanktype.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <control-messages class="exam-error" [control]="CreateExamQbank.controls.Studies" fieldName="Studies" [showSubmitError]="isQbankformHaserror"></control-messages>

                    <div class="flex items-center sm-block stepper_div">
                        <div class="md:px-8 sm:px-0 min-w-212">
                            <label>Subject</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <!-- <input matInput placeholder="Subject" formControlName="Subject"> -->
                            <mat-select formControlName="Subject" placeholder="select Subject">
                                <!-- <mat-label>Select Qbank</mat-label> -->
                                <mat-option disabled value=''>Select Subject</mat-option>
                                <mat-option *ngFor="let subject of subjects" [value]="subject.id" (click)="selectSubject(subject.id)">{{subject.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <control-messages class="exam-error" [control]="CreateExamQbank.controls.Subject" fieldName="Subject" [showSubmitError]="isQbankformHaserror"></control-messages>

                    <div class="flex items-center sm-block stepper_div">
                        <div class="md:px-8 sm:px-0 min-w-212">
                            <label>Topics</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <!-- <input matInput placeholder="Topic" > -->
                            <mat-select multiple formControlName="Topic" placeholder="Select Topics">
                                <mat-option [value]="topic.id" *ngFor="let topic of topics;let i=index" (click)="OnclickTopic(topic.id)">{{topic.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-chip-list #chipList class="Topic_chips">
                            <mat-chip *ngFor="let selectedtopic of TopicsList,let i = index;" [selectable]="true" selected="true" [removable]="false">
                                {{getTopicName(selectedtopic.ID)}} <button class="pl-0.5 pt-1" (click)="removeTopic(i,selectedtopic.ID)"><mat-icon>cancel</mat-icon></button>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <control-messages class="exam-error" [control]="CreateExamQbank.controls.Topic" fieldName="Topic" [showSubmitError]="isQbankformHaserror"></control-messages>

                    <div class="flex items-center sm-block stepper_div cbme-code">
                        <div class="md:px-8 sm:px-0 min-w-212">
                            <label>CBME Code</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <!-- <input matInput placeholder="Topic" > -->
                            <mat-select #select multiple formControlName="CBMECode" placeholder="Select CBMECode">
                                <mat-option *ngFor="let Cbme of CBME" [value]="Cbme.id" (click)="OnclickCmbeCode(Cbme.id)">{{getCBMETitle(Cbme.id)}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-chip-list #chipList class="Topic_chips">
                            <mat-chip *ngFor="let code of CBMEcodeList,let i = index;" [selectable]="true" selected="true" [removable]="false">
                                {{getCBMETitle(code.ID)}} <button class="pl-0.5 pt-1" (click)="removeCBME(i,code.ID)"><mat-icon>cancel</mat-icon></button>
                            </mat-chip>
                        </mat-chip-list>
                        <div>
                            <div class="cbme-code-description border bg-white  p-2 gap-2 mt-2" *ngIf="CBMEcodeList.length>0">
                                <ng-container *ngFor="let code of CBMEcodeList; let i = index">
                                    <div class="flex items-center gap-2.5">
                                        <mat-icon class="text-primary/25">error</mat-icon>
                                        <div class="text-primary text-sm  flex gap-2.5">
                                            <h2 class="min-w-10">{{getCBMECode(code.ID)}}:</h2>
                                            <span class="text-sm font-normal text-[#505050] " [innerHTML]="getCBMEDescription(code.ID)"></span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <control-messages class="exam-error" [control]="CreateExamQbank.controls.CBMECode" fieldName="CBMECode" [showSubmitError]="isQbankformHaserror"></control-messages>
                    <!-- <div *ngFor="let code of CBMEcodeList,let i = index;">
                    <p>{{code.Description}}</p>
                </div> -->
                    <!-- <div class="flex items-center sm-block stepper_div">
                        <div class="md:px-8 sm:px-0 min-w-212">
                            <label>Competency Level</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <mat-select formControlName="CompetencyLevel" placeholder="Select CompetencyLevel">
                                <mat-option disabled value=''>Select CompetencyLevel</mat-option>
                                <mat-option *ngFor="let level of competenecyLevel" [value]="level.id">{{level.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <control-messages class="exam-error" [control]="CreateExamQbank.controls.CompetencyLevel" fieldName="CompetencyLevel" [showSubmitError]="isQbankformHaserror"></control-messages>

                    <div class="flex items-center sm-block stepper_div">
                        <div class="md:px-8 sm:px-0 min-w-212">
                            <label>Level of Questions</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <mat-select formControlName="LevelofQuestions" placeholder="Select LevelofQuestions">
                                <mat-option disabled value=''>Select LevelofQuestions</mat-option>
                                <mat-option *ngFor="let level of levelquestion" [value]="level.id">{{level.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <control-messages class="exam-error" [control]="CreateExamQbank.controls.LevelofQuestions" fieldName="LevelofQuestions" [showSubmitError]="isQbankformHaserror"></control-messages> -->

                    <div class="flex items-center sm-block stepper_div last-stepper">
                        <div class="md:px-8 sm:px-0 sm-pt-2 min-w-212">
                            <label>Number of Questions</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <!-- <input matInput placeholder="NumberofQuestions" formControlName="NumberofQuestions"> -->
                            <mat-select formControlName="NumberofQuestions" placeholder="Select number of Question">
                                <mat-option disabled value=''>Select any</mat-option>
                                <mat-option [value]="2">2</mat-option>
                                <mat-option [value]="5">5</mat-option>
                                <mat-option [value]="10">10</mat-option>
                                <mat-option [value]="15">15</mat-option>
                                <mat-option [value]="20">20</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <control-messages class="exam-error" [control]="CreateExamQbank.controls.NumberofQuestions" fieldName="NumberofQuestions" [showSubmitError]="isQbankformHaserror"></control-messages>

                <div class="form-element flex w-full justify-center gap-3 flex-wrap">
                    <button mat-raised-button type="submit" class="create_btn rounded bg-primary text-white" matStepperNext (click)="getExamListing()">Continue</button>
                    <button mat-raised-button class="clearall_btn rounded text-primary" type="button" (click)="ClearQbankForm()">Clear All</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="CreateListFilter">
            <form class="create-exam-second-step">
                <ng-template matStepLabel>Select Questions</ng-template>
                <div class="container block pt-4 filters">
                    <div class="block md:flex justify-between py-2 items-center">
                        <div>
                            <h2 class="text-2xl font-semibold text-[#505050]">Total Questions ({{dataSource?.QuestionList?.length}})
                            </h2>
                        </div>
                        <form [formGroup]="CreateExamQbank">
                        <div class="md:flex grid grid-cols-2 gap-2 items-center">
                            <div class="filter_heading text-[#505050] text-[14px] font-normal">
                                Competency :
                            </div>
                            <mat-form-field appearance="fill" class="flex filter_input xyz">

                                <mat-select disableRipple [(ngModel)]="examDetails.CompetencyLevel" (selectionChange)="search()" formControlName="CompetencyLevel">
                                    <mat-option [value]="0" selected>All</mat-option>
                                    <mat-option *ngFor="let level of competenecyLevel" [value]="level.id">{{level.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="filter_heading text-[#505050] text-[14px] font-normal">
                                Level of questions :
                            </div>
                            <mat-form-field appearance="fill" class="flex filter_input xyz">
                                <mat-select disableRipple [(ngModel)]="examDetails.LevelofQuestions" (selectionChange)="search()" formControlName="LevelofQuestions">
                                    <mat-option [value]="0">All</mat-option>
                                    <mat-option *ngFor="let level of levelquestion" [value]="level.id">{{level.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="filter_heading text-[#505050] text-[14px] font-normal">
                                Tags :
                            </div>
                            <form [formGroup]="CreateListFilter" >
                            <mat-form-field appearance="fill" class="flex filter_input xyz">
                                <mat-select matNativeControl [(ngModel)]="TagID" (selectionChange)="search()" formControlName="tags">
                                    <mat-option [value]="0">All</mat-option>
                                    <mat-option *ngFor="let tag of Tags,let i = index;" [value]="tag.id">{{tag.name}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                            </form>
                        </div>
                        
                    </form>

                    </div>

                    <div class="accordian-outer" [dataSource]="dataSource?.QuestionList" *ngFor="let question of dataSource?.QuestionList,let i = index;">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle class="mt-4" >
                                <mat-expansion-panel-header class="h-24 bg-white">
                                    <mat-panel-title class="font-semibold " [innerHtml]="question.questionTitle">
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <div class="expension_div rounded " >
                                    <!-- <p class="text-black font-semibold mt-9">A 73-Year-old hypertensive patient was rushed to the casualty following a transient ischemic attack. Angiography revealed
                                    <br> stenosis of the internal carotid artery. Which part of this artery does not give any branch</p> -->
                                    <h6 class="mt-44 font-medium">Select option any one</h6>
                                    <div *ngFor=" let choices of question?.choices; let i = index;">
                                        <h6 *ngIf="choices.IsCorrect" class="mt-3.5 font-medium correct_heading">Correct Answer
                                        </h6>
                                        <div class="bg-white mt-3.5 flex p-2.5 border" [ngClass]="{'correct_div':choices.isCorrect===true}">
                                            <span class="content-center mr-2.5 border border-[#DCDCDC] text-sm px-1 h-5 w-5 rounded"><B>{{i
                                                    + 1}}</B></span>
                                            <h2 class="font-medium">{{choices.choiceText}}</h2>
                                        </div>
                                    </div>
                                    <h3 class="mt-3.5 text-primary font-bold text-lg">Competency / Levels</h3>
                                    <div class="flex gap-20 qtn-level">
                                        <div class=" mt-3.5">
                                            <p class="font-bold text-base">*Set Competency Level
                                                <br>
                                                <span class="font-normal text-base">{{question?.competencyLevel}}</span>
                                            </p>
                                        </div>
                                        <div class=" mt-3.5">
                                            <p class="font-bold text-base">*Set level of questions
                                                <br>
                                                <span class="font-normal text-base">{{question?.levelofQuestion}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="mt-3.5 text-primary font-bold text-lg" *ngIf="question?.tags>0">
                                        Integration / Tags</h3>
                                    <p class=" mt-3.5 font-bold text-base" *ngIf="question?.horizontalInegration
                        ?.length>0">Horizontal Integration</p>
                                    <mat-chip-list class="question-listing" aria-label="Horizontal Integration" *ngIf="question?.horizontalInegration
                        ?.length>0">
                                        <div *ngFor="let tag of question?.horizontalInegration
                            ,let i=index">
                                            <mat-chip class="text-primary border-2  bg-white mt-3.5">{{tag?.title}}</mat-chip>
                                        </div>
                                    </mat-chip-list>
                                    <p class=" mt-3.5 font-bold text-base" *ngIf="question?.verticalInegration?.length>0">Vertical Integration</p>
                                    <mat-chip-list class="question-listing" aria-label="Vertical Integration" *ngIf="question?.verticalInegration.length>0">
                                        <div *ngFor="let tag of question?.verticalInegration,let i=index">
                                            <mat-chip class="text-primary border-2  bg-white mt-3.5">{{tag?.title}}</mat-chip>
                                        </div>
                                    </mat-chip-list>
                                    <p class=" mt-3.5 font-bold text-base" *ngIf="question.tags?.length>0">*Tags
                                    </p>
                                    <mat-chip-list class="question-listing" aria-label="Tags" *ngIf="question.tags.length>0">
                                        <div *ngFor="let tag of question.tags,let i=index">
                                            <mat-chip class="text-primary border-2  bg-white mt-3.5">{{tag?.name}}</mat-chip>
                                        </div>
                                    </mat-chip-list>
                                    <hr class="h-px my-8 bg-gray-200 border-[#C6C7C7] dark:bg-gray-700">
                                    <h3 class="mt-3.5 text-primary font-bold text-lg" *ngIf="question.explanation?.length>0">Solutions</h3>
                                    <div *ngFor="let explanantion of question.explanation,let i=index">
                                        <h4 class="font-bold text-base mt-3.5" *ngIf="explanantion.content.length>0">
                                            Explanation {{i+1}}</h4>
                                        <p class="mt-3.5 font-medium" [innerHtml]="explanantion.content"></p>
                                    </div>


                                    <h4 class="font-bold text-base mt-3.5" *ngIf="question?.video?.length>0">
                                        *Related Video Link</h4>
                                    <p class="mt-3.5 font-medium text-primary" *ngFor="let video of question?.video,let i=index">
                                        {{video.VideoLink}}</p>
                                    <h4 class="font-bold text-base mt-3.5" *ngIf="question.books.length>0">
                                        *Reference Books</h4>
                                    <p class="mt-3.5 font-medium" *ngFor="let book of question.books,let i=index">{{book.title}}, {{book.edition}}, {{book.pageNumber}}</p>
                                    <h4 class="font-bold text-base mt-3.5" >Question ID : {{question.questionDetailId}}
                                    </h4>
                                </div>

                            </mat-expansion-panel>
                            <div class="demo-section">
                                <mat-checkbox [checked]="isQuestionSelected(question.questionDetailId)" (change)="onChange($event,question.questionDetailId)" class="checkbox-question"></mat-checkbox>
                            </div>
                        </mat-accordion>
                    </div>
                    <div *ngIf="QuestionSelected?.length < NoofSelectedQuestion" class="flex gap-2 bg-[#FFE4E4] text-[#E23D3D] border-[#E23D3D] w-fit p-2 mb-4 rounded-full border">
                        <mat-icon class="text-[#E23D3D]">error</mat-icon>
                        <p class="text-[#E23D3D]">Number of Question Selected {{QuestionSelected?.length>0?QuestionSelected?.length:0}}/{{NoofSelectedQuestion}}. Please choose exact number of questions
                        </p>
                    </div>
                    <p *ngIf="dataSource?.QuestionList.length <= 0">No records found</p>
                </div>
                <!--[disabled]="TotalSelectQuestion!= NoofSelectedQuestion"-->
                <div class="form-element flex w-full justify-center gap-3 flex-wrap">
                    <button mat-raised-button class="clearall_btn rounded" matStepperPrevious>Back to Q'Bank</button>
                    <button mat-raised-button type="submit" class="create_btn rounded bg-primary text-white" matStepperNext [disabled]="QuestionSelected?.length !== NoofSelectedQuestion">Create Exam</button>
                    <button mat-raised-button class="clearall_btn rounded text-primary" type="button" (click)="clearAllSecondStep()">Clear All</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="CreateExamSchedule" [completed]="false" [editable]="false">
            <form [formGroup]="CreateExamSchedule" class="create-exam-third-step">
                <ng-template matStepLabel>Schedule</ng-template>

                <div class="container block pt-4 text-[#505050]">
                    <label class="text-[#505050]">Exam Schedule</label>

                    <div class="flex items-center sm-block">
                        <div class="sm-pt-2 min-w-165 text-[#505050]">
                            <label class="text-[#505050]">Select Courses</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block">
                            <mat-select multiple formControlName="students" placeholder="Select Course">
                                <!-- <mat-option disabled value=''>Select any</mat-option> -->
                                <mat-option [value]="Course.id" *ngFor="let Course of Courses;let i=index " (click)="OnclickCourse(Course)">{{Course.name}}({{Course.count}})</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <mat-chip-list #chipList class="student_chips">
                        <mat-chip *ngFor="let student of studentCourseList,let i = index;" [selectable]="true" selected="true" [removable]="false">
                            {{student.CourseYear}}({{student.noOfStudent}}) <button (click)="removeCouse(i,student.courseYearId)"><mat-icon>cancel</mat-icon></button>
                        </mat-chip>
                    </mat-chip-list>
                    <control-messages class="exam-error" [control]="CreateExamSchedule.controls.students" fieldName="Courses" [showSubmitError]="IsSheduleFormHasError"></control-messages>
                    <mat-radio-group aria-label="Select an option" formControlName="examType">
                        <mat-radio-button [value]="0">Live Exam</mat-radio-button>
                        <mat-radio-button [value]="1" class="pl-8">Schedule</mat-radio-button>
                    </mat-radio-group>
                    <div class="quiz_scheduling" >
                        <mat-form-field appearance="fill">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="ExamDate" (dateChange)="calculateDuration()" [min]="minTime">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Starts on</mat-label>
                            <input matInput name="starton" min="00:00" max="23:59" type="time" formControlName="StartTime" [(ngModel)]="startTime" (change)="calculateDuration()" >
                        </mat-form-field>

                        <h3 *ngIf="CreateExamSchedule.get('examType')?.value == 1">to</h3>

                        <mat-form-field *ngIf="CreateExamSchedule.get('examType')?.value == 1" appearance="fill">
                            <mat-label>Ends with</mat-label>
                            <input matInput type="time" formControlName="EndTime" [(ngModel)]="endTime" (change)="calculateDuration()" [disabled]="invalidTime">
                        </mat-form-field>
                        <control-messages [control]="CreateExamSchedule.controls.ExamDate && CreateExamSchedule.controls.StartTime && CreateExamSchedule.controls.EndTime" fieldName="Calcluate Duration" [showSubmitError]="IsSheduleFormHasError"></control-messages>

                        <p>{{duration}}</p>
                    </div>
                    <section class="pt-4">
                        <p>
                            <mat-checkbox [value]="true" formControlName="ShuffleAnswer" color="primary">Shuffle Answers</mat-checkbox>
                        </p>
                        <p>
                            <mat-checkbox [value]="true" formControlName="ShuffleQuestion" color="primary">Shuffle Question
                            </mat-checkbox>
                        </p>
                    </section>
                    <h2 class="py-4 heading">Result</h2>
                    <mat-checkbox [value]="true" formControlName="viewResult" color="primary">Can a user view the results ?
                    </mat-checkbox>

                    <div class="flex items-center sm-block small_input">
                        <div class="sm-pt-2">
                            <label>Percentage Pass</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block pr-2">
                            <input matInput type="number" formControlName="Percentage" (input)="validatePercentage($event)">
                        </mat-form-field>%

                    </div>
                    <control-messages [control]="CreateExamSchedule.controls.Percentage" fieldName="Percentage" [showSubmitError]="IsSheduleFormHasError"></control-messages>
                    <!-- <section>
                        <mat-checkbox [value]="true" formControlName="Evaluation" color="primary">Does Evaluation required?
                        </mat-checkbox>
                    </section> -->

                    <!-- <div class="flex items-center sm-block small_input">
                        <div class="sm-pt-2">
                            <label>Evaluation Complete on</label>
                        </div>
                        <span class="semicolm_span">:</span>
                        <mat-form-field class="form-element block pr-2">
                            <input matInput type="number" formControlName="Evaluationtime">
                        </mat-form-field>Hours
                    </div>
                    <control-messages [control]="CreateExamSchedule.controls.Evaluationtime" fieldName="Evaluationtime" [showSubmitError]="IsSheduleFormHasError"></control-messages>
                    <h2 class="py-4 heading">Awards</h2>
                    <section>
                        <p>
                            <mat-checkbox class="pb-4" [value]="true" formControlName="AwardCertificate" ormControlName="Awards" color="primary">Certificate Provision</mat-checkbox>
                        </p>
                        <p>
                            <mat-checkbox [value]="true" formControlName="AwardGift" color="primary">Gift Vouchres</mat-checkbox>
                        </p>
                    </section> -->

                </div>
                <div class="form-element flex w-full justify-center gap-3 flex-wrap">
                    <button mat-raised-button class="clearall_btn rounded" (click)="goToFirStep()">Back to
                        Q'Bank</button>
                    <button mat-raised-button type="submit" class="create_btn rounded bg-primary text-white" (click)="Onsubmit()">Continue</button>
                    <button mat-raised-button class="clearall_btn rounded text-primary" type="button" (click)="clearsheduleForm()">Clear All</button>
                </div>
            </form>
        </mat-step>

    </mat-stepper>

    <!--Dialogbox for listing -->
    <ng-template #dialogNotAcceptable>
        <div class="icon" style="text-align: center;">
            <span class="material-icons yellow-color" style="color:#ebeb53;">warning </span>
        </div>
        <h1 mat-dialog-title class="text-center pt-4">Are you sure want to delete the Account</h1>
        <div mat-dialog-actions class="flex pt-4 gap-1">
            <button mat-button color="primary" class="yes_delete_button">Yes, Delete
                it</button>
            <button mat-button mat-dialog-close (click)="back()">May be later</button>
        </div>
    </ng-template>
    <ng-template #myDialog1 class="w-94">
        <section class="p-4 pb-4">
            <div class="grid">
                <mat-icon class="ml-auto cursor-pointer" (click)="closedialog()">close</mat-icon>
            </div>
            <div class="py-10 text-center">
                <h3 class="text-red-500 text-xl font-medium pb-2">You Already Selected {{NoofSelectedQuestion}} Question's
                </h3>
                <h4 class="ml-2 text-base text-[#6E6E6E] font-medium">Total {{NoofSelectedQuestion}} Question's Needed to Select</h4>
            </div>
            <!-- <div class="flex justify-center gap-4 pb-3">
                <button mat-raised-button class="bg-[#0C529A] text-[#FFFFFF] rounded w-48 py-6 text-lg font-normal">Back to
                    review</button>
                <button mat-raised-button class="bg-[#00AEEF] text-[#FFFFFF] rounded w-48 py-6 text-lg font-normal" (click)="closedialog()">Finish</button>
            </div> -->
        </section>
    </ng-template>
</div>


<div class="after_submit_screen w-full justify-center items-center mt-8 p-4" *ngIf="isFormSubmitted">
    <!-- <mat-icon class="justify-center  flex w-full text-cyan-500 text-6xl">how_to_reg</mat-icon> -->
    <img class="justify-center flex w-12 mx-auto" src="my-images/Icon feather-check-circle.svg">
    <h2 class="justify-center flex w-full text-2xl py-6 font-semibold">{{createdExamDetails.name}}
    </h2>
    <h3 class="justify-center flex w-full pb-6 text-primary font-semibold text-center">Successfully Created the Exams !
    </h3>
    <p class="justify-center flex w-full pb-8 mx-auto max-w-3xl text-center font-medium" [innerHTML]="createdExamDetails.description"></p>
    <div class="last_screen">
        <div class="exam_code">
            <div class="text-center flex flex-col copy-link">
                <label>Exam code</label>
                <input class="text-center" matInput placeholder="Copy below text in Firefox" [value]="createdExamDetails.mcqCode" id="customerName" readonly>
            </div>

            <div class="icon_codecopy bg-primary/10" (click)="copyText('customerName')">
                <mat-icon class="text-primary">file_copy</mat-icon>
            </div>
        </div>
        <!-- <button (click)="SendMessage()">
            <div class="sms_div">
                <div class="code_div">
                    <div class="text-lg flex justify-center"><mat-icon>phone_android</mat-icon>Send a SMS</div>
                    <div class="text-sm pt-1 courses">
                        <div *ngFor="let course of createdExamDetails?.courses">
                            <span class="text-white no-underline">{{course.courseYear}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </button> -->
    </div>
    <div class="flex mx-auto py-2">
        <div class="exam_code">
            <div class="code_div gap-1 py-0 flex items-center md:w-200 w-200">Link:
                <input matInput placeholder="Copy below text in Firefox" class="w-full text-primary underline" [value]="'https://adrplexus.zoom.us/j/&'+createdExamDetails?.mcqCode" id="ExamLink">
                <!-- <span>https://adrplexus.zoom.us/j/3996455621119018?pwd=TGdpWDZiigiZk03K0F6aDNyNE1rOVhoQT09#success</span> -->
            </div>
            <div class="icon_codecopy bg-primary/10 border-0 py-2" (click)="copyText('ExamLink')">
                <mat-icon class="text-primary">file_copy</mat-icon>
            </div>
        </div>
    </div>

</div>