:host ::ng-deep form label {
    color: #3C3C3C !important;
    font-size: 16px;
    font-family: 'Inter var';
    font-weight: 600 !important;
}

::ng-deep .mat-step-icon .mat-icon {
    color: #fff !important;
}

::ng-deep .create-exam-first-step mat-form-field {
    min-width: 400px;
}

mat-form-field {
    padding-top: 20px;
}

:host ::ng-deep .mat-stepper-horizontal-line {
    display: none;
}

::ng-deep body.light .mat-step-header:hover:not([aria-disabled]) {
    background: none;
}

::ng-deep mat-step-header {
    height: 52px;
}

::ng-deep mat-step-header[tabindex="0"] {
    border-bottom: 4px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
    margin-bottom: -3px;
    background: transparent !important;
}

::ng-deep.mat-step-text-label {
    font-size: 16px;
}

::ng-deep mat-step-header[tabindex="0"] .mat-step-text-label {
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
}

::ng-deep mat-stepper {
    background: transparent !important;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: -webkit-box;
    border-bottom: 3px solid #b3b3b3;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #28C397 !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper {
    top: -35px !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    box-shadow: 0px 0px 8px #D8D8D880 !important;
    border: navajowhite;
}

::ng-deep .mw-100 {
    max-width: 100% !important;
}

::ng-deep mat-accordion.mat-accordion {
    position: relative;
}

::ng-deep .create_account .demo-section {
    position: absolute;
    top: 34px;
    background: #0C529A;
    border-radius: 50px;
    color: white;
    padding: 14px;
    font-size: 20px;
    font-weight: 800;
    left: -14px;
    width: 35px;
    height: 35px;
}

::ng-deep .create_account mat-step-header {
    pointer-events: none;
}

::ng-deep .demo-section mat-checkbox.checkbox-question {
    position: relative;
    top: -16px;
    left: -16px;
}

::ng-deep .create-exam-second-step mat-panel-title.mat-expansion-panel-header-title {
    display: block !important;
}

::ng-deep .create-exam-second-step mat-expansion-panel-header {
    align-items: start !important;
    height: 100px !important;
    padding: 20px 30px !important;
}

::ng-deep .create-exam-second-step mat-panel-title.mat-expansion-panel-header-title img {
    max-width: 200px !important;
    max-height: 200px;
}

::ng-deep .create-exam-second-step mat-form-field {
    min-width: 160px;
}

::ng-deep .create-exam-second-step .mat-mdc-form-field .mat-mdc-form-field-infix {
    min-height: 40px !important;
}

::ng-deep .create-exam-third-step mat-form-field {
    min-width: 200px;
}

::ng-deep .create-exam-third-step mat-chip-list.student_chips {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-left: 190px;
}

::ng-deep .mdc-evolution-chip__text-label {
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    font-weight: 500;
}

::ng-deep mat-checkbox.checkbox-question .mdc-checkbox__background {
    border: 0 !important;
    background-color: transparent !important;
}

::ng-deep .demo-section span.mat-checkbox-frame {
    border-color: #0c529a !important;
}

::ng-deep .demo-section span.mat-checkbox-background {
    background-color: #0c529a !important;
    border-radius: 30px;
}

::ng-deep .demo-section .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
}

::ng-deep .mat-expanded+mat-icon.mat-icon {
    background: #28C397;
}

::ng-deep mat-chip.mat-chip {
    border: 1px solid;
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

:host ::ng-deep form .filters .mat-form-field.mat-form-field {
    min-width: auto;
    max-width: initial;
    padding-top: 0px;
}

:host ::ng-deep form .filters .mat-form-field.mat-form-field .mat-form-field-wrapper {
    margin-bottom: 0px;
}

:host ::ng-deep form .quiz_scheduling .mat-form-field.mat-form-field {
    min-width: 140px;
    max-width: initial;
    padding-top: 0;
}

.quiz_scheduling {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

:host ::ng-deep form .quiz_scheduling .mat-form-field.mat-form-field .mat-input-element::after {
    display: none;
}

.heading {
    font-size: 18px;
}

:host ::ng-deep form .small_input .mat-form-field.mat-form-field {
    min-width: 60px;
    max-width: 65px;
}

.exam_code {
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
    margin: 0 auto;
    display: inline-flex;
    border-radius: 4px;
    height: 60px;
}

.code_div {
    padding: 5px 20px;
    text-align: center;
}

.icon_codecopy {
    text-align: center;
    padding: 0 12px;
    border-left: 1px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
}

.icon_codecopy mat-icon.mat-icon {
    color: #0C529A;
}

.sms_div {
    justify-content: center;
    align-items: center;
    border: 1px solid #0C529A;
    background-color: #0C529A;
    color: white;
    font-weight: 500;
    margin: 0 auto;
    display: inline-flex;
    border-radius: 4px;
    width: max-content;
}

.last_screen {
    display: flex;
    margin: 0 auto;
    width: max-content;
    padding-bottom: 20px;
    gap: 10px;
}

.code_div span {
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
    text-decoration: underline;
}

.code_div mat-icon.mat-icon {
    color: white;
}

.correct_heading {
    color: #28C397;
}

.correct_div {
    border: 1px solid #28C397;
    background-color: #F8FFFA !important;
}

.correct_div span {
    background: #28C397;
    color: white;
}

.correct_div h2 {
    color: #28C397;
}

.cbme-code-description {
    margin-left: 190px;
    border-color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
}

:host ::ng-deep form .mat-form-field.mat-form-field {
    min-width: 360px;
    max-width: 360px;
}

:host ::ng-deep label.mat-slide-toggle-label {
    background: transparent;
    border-radius: 500px;
    padding: 0 4px;
    border: 3px solid #BBBBBB !important;
}

:host ::ng-deep .mat-checked label.mat-slide-toggle-label {
    border: 3px solid #8C48CE !important;
}

:host ::ng-deep .mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin {
    background: transparent !important;
}

// ::ng-deep  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
//     color: #0C529A !important;
//     padding-left: 7px;
//     padding-top: 8px;
// }
::ng-deep .Topic_chips mat-chip.mat-chip button .mat-icon {
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    padding-left: 7px;
    padding-top: 8px;
}

:host ::ng-deep .mat-slide-toggle-thumb {
    background: #BBBBBB !important;
    width: 14px !important;
    height: 14px !important;
    position: relative;
    top: 3px;
}

:host ::ng-deep .mat-checked .mat-slide-toggle-thumb {
    background: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    left: 6px;
}

.min-w-212 {
    min-width: 165px !important;
    max-width: 165px;
}

.stepper_div {
    position: relative;
    flex-wrap: wrap !important;
}

.stepper_div.chips_div:before {
    bottom: -60px;
    height: -webkit-fill-available;
}

.level_div.stepper_div:before {
    height: 94px;
}

::ng-deep mat-chip-list.question-listing {
    left: 0 !important;
}

::ng-deep .create-exam-first-step mat-chip-list {
    flex-basis: 100%;
    max-width: 84% !important;
    position: relative;
    left: 16%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    // padding-bottom: 10px;
}

::ng-deep .create-exam-second-step mat-chip-list {
    flex-basis: 100%;
    max-width: 84% !important;
    position: relative;
    left: 16%;
    display: flex;
    gap: 10px;
    // padding-bottom: 10px;
}

::ng-deep .create_account mat-chip {
    background-color: rgba(var(--fuse-primary-rgb), .1) !important;
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    border: 1px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
}

::ng-deep .create_account mat-chip span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
    display: flex;
    align-items: center;
}

::ng-deep .create_account mat-chip span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label .mat-icon {
    color: rgba(var(--fuse-primary-rgb), 1) !important;
}

// ::ng-deep control-messages div{
//     flex-basis: 100%;
//     width: 100%;
//     position: relative;
//     left: 16%;
//     }
::ng-deep .exam-error div {
    padding-left: 190px;
}

.linestep {
    position: relative;
}

.linestep:before {
    content: "";
    display: block;
    background: #c6c7c7;
    height: -webkit-fill-available;
    width: 2px;
    position: absolute;
    top: 33px;
    left: 10px;
    bottom: 57px;
}

.stepper_div:after {
    background: #000;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
    border-radius: 50px;
    position: absolute;
    left: 0px;
    top: 32px;
    border: 6px solid #B5E7FB;
    // border-color: #d2d2d2 !important;
    padding: 4px;
}

// .stepper_div:before {
//     content: '';
//     display: block;
//     background: #C6C7C7;
//     height: 120px;
//     width: 2px;
//     position: absolute;
//     top: 42px;
//     left: 9px;
// }
.stepper_div:nth-child(4)::before {
    height: 140px;
}

:host ::ng-deep .mat-radio-checked .mat-radio-outer-circle {
    border-color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    border-width: 1px !important;
}

:host ::ng-deep .mat-radio-checked .mat-radio-inner-circle {
    background: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
}

::ng-deep .filter_input.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    border: 1px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    width: 160px !important;
    min-height: 40px !important;
}

mat-expansion-panel.mat-expansion-panel {
    border: 1px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    box-shadow: 0px 0px 10px rgba(var(--fuse-primary-rgb), .3) !important;
}

.last-stepper.stepper_div::before {
    height: 0 !important;
}

.min-w-145 {
    min-width: 155px !important;
}

.min-w-165 {
    min-width: 165px !important;
}

.gap {
    gap: 12px;
}

:host ::ng-deep classic-layout {
    height: 100vw !important;
}

:host ::ng-deep .mat-form-field-flex {
    border-radius: 4px !important;
}

.semicolm_span {
    padding-right: 20px;
}

.create_btn {
    background-color: #0C529A !important;
    padding: 25px 35px !important;
}

.create_btn span {
    font-size: 16px;
    box-shadow: none !important;
}

.clearall_btn {
    width: 150px;
    box-shadow: none !important;
    padding: 25px 35px !important;
    background: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
    border: 0;
    color: white !important;
}

.after_submit_screen {
    font-family: 'Inter var';
}

.after_submit_screen h3 {
    font-size: 24px;
}

//stapper
::ng-deep .mat-step-icon.mat-step-icon-state-edit {
    background-color: #B3B3B3 !important;
}

::ng-deep body.light .mat-step-header .mat-step-icon,
body .light .mat-step-header .mat-step-icon {
    background-color: #B3B3B3;
    color: var(--fuse-on-primary);
}

.student_chips button mat-icon.mat-icon {
    color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity));
}

.student_chips button {
    display: flex;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 10px;
}

.copy-link {
    width: 330px;
}

@media only screen and (max-width: 1199px) {
    .min-w-212 {
        padding-left: 30px !important;
    }

    ::ng-deep .create-exam-second-step mat-form-field {
        min-width: auto;
    }

    .mat-horizontal-content-container {
        padding: 0px 0px 0px 15px !important;
    }

    .create-exam-first-step mat-chip-list {
        left: 190px;
    }
}

@media only screen and (max-width: 767px) {
    ::ng-deep .create_account mat-step-header {
        min-width: 170px;
    }

    .create-exam-first-step mat-chip-list {
        left: 0px;
    }

    ::ng-deep .create-exam-first-step mat-form-field {
        min-width: auto;
    }

    .cbme-code-description {
        margin-left: 0px;
    }

    .linestep:before {
        display: none;
    }

    ::ng-deep .create_account .mat-horizontal-stepper-header-container {
        overflow-x: scroll;
    }

    :host ::ng-deep form .mat-form-field.mat-form-field {
        min-width: 83vw;
        max-width: 83vw;
        padding-left: 0 !important;
    }

    .sm-block {
        display: block !important;
    }

    .sm-pt-2 {
        padding-top: 20px;
    }

    .stepper_div::after,
    .stepper_div::before {
        display: none;
    }

    .gap {
        gap: 0px;
        padding-top: 10px;
    }

    .gap mat-label:first-child {
        padding-right: 20px;
    }

    .gap mat-label:nth-child(3) {
        padding-right: 28px;
    }

    .gap .mat-form-field.mat-form-field {
        padding: 0 !important;
    }

    .semicolm_span {
        display: none;
    }

    .clearall_btn {
        width: 140px;
        padding: 15px 35px !important;
    }

    :host ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper {
        top: -25px !important;
    }

    mat-form-field {
        padding-top: 10px;
    }

    .min-w-212 {
        padding-left: 0px !important;
    }
}